
<div class="todo-list">
    <form (ngSubmit)="onAddTodoItem(todoForm)" #todoForm="ngForm">
        <input [(ngModel)]="todoText" type="text" name="todoText" id="todoText" ngModel>
    </form>
    <ul *ngFor="let todoItem of todoList">
        <li>
            <input 
                [checked]="todoItem.isCompleted"
                (click)="onToggleTodoItem(todoItem)" 
                type="checkbox" 
                name="todoCompleted{{todoItem.id}}" 
                id="todoCompleted{{todoItem.id}}">
            <span
                (click)="onEditItem(todoItem)"
                [ngClass]="{'is-completed': todoItem.isCompleted}">{{ todoItem.text}}</span>
            <button (click)="onDeleteTodoItem(todoItem)">X</button>
        </li>
    </ul>
</div>